.footer {
  height: 30vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: radial-gradient(#7b2cbf, #10002b);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  clip-path: polygon(0% 15%, 100% 0%, 100% 100%, 0% 100%);
  padding-top: 3.4rem;
}

.footer-link:link,
.footer-link:visited {
  text-decoration: none;
  font-size: 3.8rem;
  color: #fff;
  font-weight: 700;
  border-bottom: 0.2rem solid #fff;
}

.footer-link:hover,
.footer-link:active {
  color: #e0aaff;
}

@media (max-width: 43.75em) {
  .footer-link:link,
  .footer-link:visited {
    font-size: 2.6rem;
  }

  .footer {
    clip-path: polygon(0% 12%, 100% 0%, 100% 100%, 0% 100%);
  }
}

@media (max-width: 21.875em) {
  .footer-link:link,
  .footer-link:visited {
    font-size: 2rem;
  }
}
